{{#each messages}}
  <div class="messenger">
    <a
      href="/messages/{{this.recipient._id}}/{{this.sender._id}}"
      class="btn"
    >Go to chat with {{this.recipient.name}}</a>
    <br />
    <br />
  </div>
{{/each}}