<div class="create-form"><h1> Create a new event</h1>

  <form class="form1" method="POST" enctype="multipart/form-data">

    <label for="picture"> Picture </label>
    <input id="picture" type="file" accept="image/*" name="picture" />

    <label for="event-name"> Event Name</label>
    <input
      id="event-name"
      type="text"
      placeholder="Event´s name"
      name="name"
      required
    />

    <label for="event-type"> Type </label>
    <input
      id="event-type"
      type="text"
      placeholder="Type of event"
      name="type"
      required
    />

    <label for="event-date"> Date </label>
    <input
      id="event-date"
      type="date"
      placeholder="Date of the event"
      name="date"
      required
    />

    <label for="event-location"> Location</label>
    <input
      id="event-location"
      type="text"
      placeholder="Event´s name"
      name="location"
      required
    />

    <label for="event-description">Description of the event</label>
    <textarea
      id="event-description"
      placeholder="Description of your event"
      name="description"
    ></textarea>

    <button>Create</button>

  </form>

</div>