<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1> TEST *************</h1>



{{! RAFA question: Why here the each works only with "events" instead of "event".}}
{{#each events}}
{{> event_partial}}
{{/each}}