
{{!-- <p>Welcome to {{title}}</p> --}}

<div class="title">
    <h1>Welcome to Meetech</h1>
<p>Discover new events in IT</p>
</div>

<div class="container"><div class="row">
    {{#each events}}
{{> event_partial}}
{{/each}}
</div>
    <button id="load">Load more</button>

</div>
