<img src="{{user.picture}}" alt="{{user.name}}" />
<h1>{{user.name}}</h1>
<a href="/user-profile/edit">Edit Profile</a>

{{!-- {{#if userIsOwner}}
<a href="/user-profile/edit">Edit Profile</a>
{{/if}}

{{#each publications}}
{{> publication}}
{{/each}} --}}