@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  background-color: #efeeea;
  font-size: 1.5em;
  display: flex;
  padding: 1em 3em 0em 3em;
}

nav a,
nav button {
  text-decoration: none;
  color: #a4a2a7;
  padding: 0;
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

nav #signin,
#signup {
  padding-bottom: 1em;
}

nav a:hover {
  text-decoration: none;
  color: #005452;
}

nav button:hover {
  text-decoration: none;
  color: #005452;
}

.title {
  background-image: url("../images/meetech (2).png");
  color: beige;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5em 0;
}

.title h1 {
  font-size: 5em;
}

.title p {
  font-size: 2em;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.form1,
.form2,
.form3,
.form4,
.form5,
.form6 {
  margin: 0 auto;
  font-size: 1.5em;
}

.form1 label,
.form1 input,
.form1 button,
.form2 label,
.form2 input,
.form2 button,
.form3 label,
.form3 input,
.form3 button,
.form4 label,
.form4 input,
.form4 button,
.form5 label,
.form5 input,
.form5 button,
.form6 label,
.form6 input,
.form6 button {
  margin: 0.5em 0;
}

.form1 button,
.form2 button,
.form3 button,
.form4 button,
.form5 button,
.form6 button {
  max-width: 7em;
  margin: 0 auto;
  margin-top: 1em;
  background-color: #005452;
  color: #efeeea;
  border-radius: 0.8em;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.container {
  max-width: 52em;
  margin: 2em 5em;
  text-align: center;
}

.container a {
  text-decoration: none;
  color: gray;
}

.container a:hover {
  color: #896052;
}

.col-4 {
  padding: 0.5em 0;
  border-radius: 0.8em;
}

.card button {
  border: 0ch;
  padding: 0;
}

.card-body {
  padding: 5em;
}

.card img {
  width: 20em;
  height: 20em;
  margin-right: 1em;
  object-fit: cover;
}

.likes {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  justify-content: flex-end;
}

.likes div {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5em;
}

footer {
  width: 100%;
  background-color: #005452;
  color: #efeeea;
  font-size: 1.5em;
  padding: 1.5em;
  text-align: center;
}

.create-form,
.edit-profile,
.signin,
.signup,
.send-message,
.event-edit {
  padding: 2em 0;
  line-height: 1.8em;
}

.create-form h1,
.edit-profile h1,
.send-message h1,
.chat-list h1,
.event-edit h1 {
  color: #005452;
  text-align: center;
}

.user-profile {
  padding: 2em;
}

.user-profile h1 {
  color: #005452;
}

.messenger a {
  font-size: 1.5em;
  padding-left: 0em;
}

.messenger a:hover {
  color: #005452;
}

.user-options {
  display: flex;
  flex-direction: row;
  justify-items: baseline;
}

.user-options button {
  border: 0ch;
  margin: 0;
  padding: 0;
  margin-left: 1em;
  font-size: 1.5em;
}

.user-options a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.user-options button:hover {
  color: #005452;
}

.user-options a:hover {
  color: #005452;
}

.user-maininfo {
  display: flex;
  flex-direction: row;
  justify-items: auto;
  padding-left: 1em;
}

.user-maininfo img {
  size: 20%;
}

.user-name {
  margin-left: 1em;
}

.user-profile {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
}

.event-info {
  padding: 2em 0;
  max-width: 60%;
  margin: 0 auto;
}

.user-picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.messenger1 a {
  text-decoration: none;
  color: black;
}

.messenger1 {
  flex-direction: column;
  max-width: 60%;
  margin: 2em auto;
  line-height: 2em;
}

#user-link {
  font-weight: 600;
  font-size: 1.2em;
}

.messenger1 a:hover {
  color: #005452;
}

.col-4 {
  display: none;
}

.col-4:nth-child(1),
.col-4:nth-child(2),
.col-4:nth-child(3) {
  display: flex;
}

#load {
  font-size: 1.5em;
  margin: 0.5em 0;
  max-width: 7em;
  margin: 0 auto;
  margin-top: 1em;
  background-color: #005452;
  color: #efeeea;
  border-radius: 0.8em;
}

#load:hover {
  color: #005452;
  background-color: #efeeea;
  font-weight: 600;
}

.row {
  padding-left: 3em;
}

.event-info {
  width: 100%;
  margin-top: 40px;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.event-info .row {
  padding-left: 0em;
}

.event-info .row .card-body {
  margin-left: 0;
}

.d-flex {
  padding-left: 1em;
}

.card-body {
  margin-left: 50px;
}

.img-spot-details {
  width: 500px;
  height: 300px;
  object-fit: contain;
  justify-content: center;
}

.user-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 1em;
}

.btn-attend {
  background-color: #005452;
  color: #efeeea;
  border: 1px solid #ab9781;
  text-decoration: none;
  font-weight: 600;
  margin-right: 30px;
  padding: 7px 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

.button-edit {
  color: #000000;
  border: 1px solid #b32727;
  height: 50px;
  width: 150px;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px !important;
  text-align: center !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

.button-delete {
  color: #000000;
  background-color: #b02f12;
  text-decoration: none;
  font-weight: 600;
  padding: 7px 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

.button-edit:hover {
  color: #005452;
}

.user-options a:hover {
  color: #005452;
}

.user-profileinfo {
  width: 100%;
  margin-top: 20px;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.user-name {
  margin-left: 1em;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.event-info {
  padding: 2em 0;
  max-width: 60%;
  margin: 0 auto;
}

.user-pictureprofile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-pictureprofile img {
  width: auto;
  height: auto;
  object-fit: fill;
  border-radius: 20px;
}

.messenger1 a {
  text-decoration: none;
  color: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.people-list {
  width: 260px;
  float: left;
}

.people-list ul {
  padding: 20px;
  height: 770px;
}

.people-list ul li {
  padding-bottom: 20px;
}

.people-list img {
  float: left;
}

.people-list .about {
  float: left;
  margin-top: 8px;
}

.people-list .about {
  padding-left: 8px;
}

.chat {
  width: inherit;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header img {
  float: left;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .short-description {
  color: #92959e;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}

.chat .chat-message {
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */